<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page" style="max-width: 1200px; margin: 0 auto;">
            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body" style="padding: 20px;">
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__aside" style="padding: 20px;">
                <div class="aside__about">
                    {{- partial "about.html" . -}}
                </div>
                <hr>
                <div class="aside__content">
                    {{- block "aside" . }}{{- end }}
                </div>
            </section>

            <footer class="page__footer" style="padding: 20px;">
                <p style="margin: 0; color: #E0E0E0;">
                    &copy; {{ now.Year }} Sowndarya Krishnan Navaneetha Kannan. All rights reserved.
                </p>
                <p style="margin: 10px 0 0 0; font-style: italic; color: #E0E0E0;">
                    Contact: <a href="mailto:sowndaryakrishnanna@mines.edu" style="color: #4CAF50; text-decoration: none;">sowndaryakrishnanna@mines.edu</a> | Phone: <a href="tel:+15398951874" style="color: #4CAF50; text-decoration: none;">+1 (539) 895 1874</a>
                </p>
                <p style="margin: 10px 0 0 0;">
                    <a href="https://www.linkedin.com/in/krishnan-n/" style="color: #4CAF50; text-decoration: none;">LinkedIn</a> |
                    <a href="https://github.com/KrishnanN27" style="color: #4CAF50; text-decoration: none;">GitHub</a> |
                    <a href="https://datadrivencps.github.io/website/" style="color: #4CAF50; text-decoration: none;">Research Lab</a> |
                    {{/*  <a href="https://devpost.com/KrishnanN27" style="color: #4CAF50; text-decoration: none;">DevPost</a>  */}}
                </p>
            </footer>
        </div>
    </body>
</html>
