<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page" style="max-width: 1200px; margin: 0 auto;">
            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body" style="padding: 20px;">
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__aside" style="padding: 20px;">
                <div class="aside__about">
                    {{- partial "about.html" . -}}
                </div>
                <hr>
                <div class="aside__content">
                    {{- block "aside" . }}{{- end }}
                </div>
            </section>

            <footer class="page__footer" style="padding: 20 px;">
                <p style="margin: 0; color: #E0E0E0;">
                    &copy; {{ now.Year }} Sowndarya Krishnan Navaneetha Kannan. All rights reserved.
                </p>
                
            </footer>
        </div>
    </body>
</html>
